openapi: 3.1.0

info:
  title: HeXO Bot API
  version: 0.1.0-draft
  summary: "PROPOSAL: the bot protocol contract for HeXO (not yet implemented)."
  description: >-
    > **Status: WIP, not yet implemented.** Field names, shapes, and
    > paths may change before `1.0.0`. Treat this as a request-for-comment.


    The **HeXO Bot API** is the contract a bot speaks to play HeXO. The
    reference host is `https://hexo.did.science`; the contract is implementable
    by any host serving a HeXO variant.


    ## Design

    The **server is the referee**: it owns pairing, clocks, ratings, and game
    lifecycle. **Bots own everything else**: their engine, search, time
    management, and reconnection. This spec is the **server and ladder layer
    only**: identity, registration, matchmaking, challenges, ratings, and game
    lifecycle. **Gameplay is not here.** The per-game move exchange runs over the
    **htttx engine protocol**: when a game starts the server hands the adapter an
    engine session to dial, and moves are exchanged there. This contract is a **proposal
    layered on the existing HeXO server**: it mirrors or exposes concepts the
    server already implements rather than duplicating server-owned logic, and
    where the two differ the server is authoritative.


    ## Shape (modelled on the Lichess Bot/Board API)

    - **One NDJSON stream.** A global event stream (`GET /api/stream/event`): a
      long-lived `application/x-ndjson` GET, one JSON object per line, with a
      blank-line keepalive at least every 15 seconds. It carries the challenge
      lifecycle (`challenge`, `challengeDeclined`, `challengeCanceled`,
      `challengeExpired`), `gameStart`/`gameFinish`, and an observe-only
      `opponentGone`. Opening a new global event stream closes any previous one
      for the same token.

    - **Lifecycle here, gameplay on the engine session.** A `gameStart` event
      carries the dial bootstrap (a socket URL and a short-lived per-game token);
      the adapter opens that engine session to play. This spec stops at the
      session boundary.


    ## Authentication

    All operations require a **Personal Access Token (PAT)**: `Authorization: Bearer hxo_...`. Each registered bot instance has its **own** token, independently revocable. The scope for play is **`bot:play`**; registering instances requires **`bot:register`**; organizer operations (bulk pairing) require **`bot:organize`**. Operators register instances with a `bot:register` token; the per-instance tokens minted by registration carry only `bot:play`. A token missing the required scope → `403`.


    ## Time control

    Every game carries a time control, set on the challenge and echoed on the
    game. It is a union over `mode`:

    - `unlimited`: no time limit.
    - `turn`: a per-turn budget (`turnTimeMs`, ms); each side gets that long for
      every turn it is to move. Sub-second capable for bots (500 ms default, 45000 ms ceiling).
    - `match`: a whole-game clock per side (`mainTimeMs` + `incrementMs`, ms).

    Under `turn` and `match`, the clock measures the whole engine.


    ## Hardware telemetry

    A bot may **opt in** to a coarse hardware self-report (`HardwareInfo`: GPU
    class, CPU cores, RAM GB) at registration time. It is shown as a **label
    only** and is **not used as a rating or pairing input**. Under a timed
    control faster hardware can still affect results through move speed; the
    label carries no rating weight. No serials, MAC addresses, or hostnames are
    collected.


    ## Variant & sides

    The reference host serves `httt6`, HeXO's hexagonal tic-tac-toe; another host
    may serve a different variant key. The `Variant` field is an open,
    server-scoped string (extending the value set is a server registry change,
    not a spec edit); board geometry and rules belong to the engine protocol.
    The two sides are `p1` and `p2` by play order (not colours); see the `Side`
    schema for the turn-order semantics and the auto-played-opening caveat.
  license:
    name: MIT
    identifier: MIT
  contact:
    name: HeXO community
    url: https://hexo.did.science

servers:
  - url: https://hexo.did.science
    description: >-
      Default deployment (proposed, endpoints not yet implemented). The entry
      above is the reference host; this contract is implementable by any host.
      Per-server identity and rating federation are non-goals for this version.

security:
  - bearerAuth: []

tags:
  - name: Account
    description: Account identity and bot instance registration.
  - name: Stream
    description: >-
      The long-lived global event stream. It never closes (and opening a new one
      closes any previous stream for the same token) and sends a blank-line
      keepalive at least every 15 seconds.
  - name: Bot
    description: "Bot-only operations: advertising challenge availability, listing active games, and resigning."
  - name: Challenge
    description: Creating, accepting, declining, and canceling challenges (and bulk pairings).
  - name: Directory
    description: >-
      Browse the public bot roster to discover opponents. Read-only and
      paginated; each entry is static identity (handle, display name, owner,
      optional rating, capabilities, and hardware label) plus a single coarse,
      advisory, current-state `openForChallenge` flag. No response carries
      timestamps or history.

paths:
  /api/account:
    $ref: ./paths/account.yaml
  /api/token:
    $ref: ./paths/token.yaml
  /api/bot/register:
    $ref: ./paths/bot-register.yaml
  /api/bot/{handle}/retire:
    $ref: ./paths/bot-retire.yaml
  /api/bots:
    $ref: ./paths/bots.yaml
  /api/bot/status:
    $ref: ./paths/bot-status.yaml
  /api/bot/games:
    $ref: ./paths/bot-games.yaml
  /api/stream/event:
    $ref: ./paths/stream-event.yaml
  /api/bot/game/{gameId}/resign:
    $ref: ./paths/game-resign.yaml
  /api/challenges:
    $ref: ./paths/challenges.yaml
  /api/challenge/{handle}:
    $ref: ./paths/challenge-create.yaml
  /api/challenge/{challengeId}/show:
    $ref: ./paths/challenge-get.yaml
  /api/challenge/{challengeId}/accept:
    $ref: ./paths/challenge-accept.yaml
  /api/challenge/{challengeId}/decline:
    $ref: ./paths/challenge-decline.yaml
  /api/challenge/{challengeId}/cancel:
    $ref: ./paths/challenge-cancel.yaml
  /api/bulk-pairing:
    $ref: ./paths/bulk-pairing.yaml
  /api/bulk-pairing/{batchId}:
    $ref: ./paths/bulk-pairing-get.yaml

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: >-
        Personal Access Token (PAT) sent as `Authorization: Bearer hxo_...`.
        Long-lived, revocable, scoped: play requires `bot:play`, registering
        instances requires `bot:register`, organizer operations (bulk pairing)
        require `bot:organize`. Each registered instance has its own token,
        independently revocable. A token missing the scope an operation requires
        is rejected with `403`.
