openapi: 3.1.0

info:
  title: HeXO Bot API
  version: 0.1.0-draft
  summary: "PROPOSAL: the bot protocol contract for HeXO on hexo.did.science (not yet implemented)."
  description: >-
    > **Status: WIP, not yet implemented.** Field names, shapes, and
    > paths may change before `1.0.0`. Treat this as a request-for-comment.


    The **HeXO Bot API** is the contract a bot speaks to play HeXO on
    `https://hexo.did.science`.


    ## Design in one paragraph

    The **server is the referee**: it owns legality, turn order, pairing,
    clocks, and ratings. **Bots own everything else**: their state, search, time
    management, and reconnection. The wire protocol is **stateless by design**:
    a bot rebuilds the whole board by replaying the *cumulative* move list the
    server sends, so it can crash and rejoin a live game with zero local memory.
    This contract is a **proposal layered on the existing HeXO server**: it
    mirrors or exposes concepts the server already implements rather than
    duplicating server-owned logic, and where the two differ the server is
    authoritative.


    ## Shape (modelled on the Lichess Bot/Board API)

    - **Two NDJSON streams.** A global event stream (`GET /api/stream/event`) and a per-game stream (`GET /api/bot/game/stream/{gameId}`). Long-lived `application/x-ndjson` GETs; one JSON object per line, with a blank-line keepalive at least every 15 seconds. The global stream carries the challenge lifecycle (`challenge`, `challengeDeclined`, `challengeCanceled`, `challengeExpired`) plus `gameStart`/`gameFinish`; the per-game stream carries `gameFull`, `gameState`, and an observe-only `opponentGone`. Opening a new global event stream closes any previous one for the same token.

    - **Moves POST up, state streams down.** Moves are submitted with a separate
      `POST`; the resulting state arrives on the per-game stream.


    ## Authentication

    All operations require a **Personal Access Token (PAT)**: `Authorization: Bearer hxo_...`. Tokens are long-lived and revocable. Each registered bot instance has its **own** token, so one instance can be revoked without affecting the operator's others. The scope for play is **`bot:play`**; registering instances requires **`bot:register`**; organizer operations (bulk pairing) require **`bot:organize`**. Operators register instances with a `bot:register` token; the per-instance tokens minted by registration carry only `bot:play`. A token missing the required scope → `403`.


    ## Time control

    Every game carries a time control, set on the challenge and echoed on the
    game. It is a union over `mode`:

    - `unlimited`: no time limit.
    - `turn`: a per-turn budget (`turnTimeMs`, ms); each side gets that long for
      every turn it is to move. The per-move-budget mode, fine-grained and
      sub-second capable for bots (500 ms default, 45000 ms ceiling).
    - `match`: a whole-game clock per side (`mainTimeMs` + `incrementMs`, ms).

    Under `turn` and `match`, the clock measures the whole engine, speed
    included.


    ## Hardware telemetry

    A bot may **opt in** to a coarse hardware self-report (`HardwareInfo`: GPU
    class, CPU cores, RAM GB) at registration time. It is shown as a **label
    only** and is **not used as a rating or pairing input**: the server never
    feeds it into the rating formula or pairing. Under a timed control (`turn` or
    `match`) faster hardware can still help a bot move quicker and so affect
    results; the label itself is not a measurement and carries no rating weight.
    No serials, MAC addresses, or hostnames are collected.


    ## Variant & sides

    This API currently serves a single variant, `httt6`, HeXO's hexagonal
    tic-tac-toe. The coordinate space is an unbounded integer axial hex grid,
    but a cell is legal to play only within hex-distance 8 of an already-placed
    stone, so legal placement is a bounded frontier that widens as stones are
    placed: at the opening only the centre `[0, 0]` is available. This rule is
    descriptive: the server is the sole authority and rejects an out-of-frontier
    placement with `422 out-of-bounds`, which a bot must handle but need not
    pre-validate. **The server auto-plays the opening single centre hex on
    Player 1 (`p1`)'s behalf; every submitted turn places two hexes.** Win by
    connecting six of your own hexes in a line along any of the three board axes. The two sides are identified by play order, `p1` and `p2`
    (not colours). Both constants are defined once (see the `Variant` and `Side`
    schemas) and must match the server's registry.
  license:
    name: MIT
    identifier: MIT
  contact:
    name: HeXO community
    url: https://hexo.did.science

servers:
  - url: https://hexo.did.science
    description: HeXO server (proposed, endpoints not yet implemented).

security:
  - bearerAuth: []

tags:
  - name: Account
    description: Account identity and bot instance registration.
  - name: Stream
    description: >-
      Long-lived NDJSON streams. The global event stream never closes (and
      opening a new one closes any previous stream for the same token); the
      per-game stream closes once the game's `status` reaches `finished`. Both
      send a blank-line keepalive at least every 15 seconds.
  - name: Bot
    description: "Bot-only operations: advertising challenge availability, streaming a game, submitting moves, resigning."
  - name: Challenge
    description: Creating, accepting, declining, and canceling challenges (and bulk pairings).
  - name: Directory
    description: >-
      Browse the public bot roster to discover opponents. Read-only and
      paginated; each entry is static identity (handle, display name, owner,
      optional rating and hardware label) plus a single coarse, advisory,
      current-state `openForChallenge` flag. No response carries timestamps or
      history.

paths:
  /api/account:
    $ref: ./paths/account.yaml
  /api/token:
    $ref: ./paths/token.yaml
  /api/bot/register:
    $ref: ./paths/bot-register.yaml
  /api/bot/{handle}/retire:
    $ref: ./paths/bot-retire.yaml
  /api/bots:
    $ref: ./paths/bots.yaml
  /api/bot/status:
    $ref: ./paths/bot-status.yaml
  /api/bot/games:
    $ref: ./paths/bot-games.yaml
  /api/stream/event:
    $ref: ./paths/stream-event.yaml
  /api/bot/game/stream/{gameId}:
    $ref: ./paths/game-stream.yaml
  /api/bot/game/{gameId}:
    $ref: ./paths/game-get.yaml
  /api/bot/game/{gameId}/move:
    $ref: ./paths/game-move.yaml
  /api/bot/game/{gameId}/resign:
    $ref: ./paths/game-resign.yaml
  /api/challenges:
    $ref: ./paths/challenges.yaml
  /api/challenge/{handle}:
    $ref: ./paths/challenge-create.yaml
  /api/challenge/{challengeId}/show:
    $ref: ./paths/challenge-get.yaml
  /api/challenge/{challengeId}/accept:
    $ref: ./paths/challenge-accept.yaml
  /api/challenge/{challengeId}/decline:
    $ref: ./paths/challenge-decline.yaml
  /api/challenge/{challengeId}/cancel:
    $ref: ./paths/challenge-cancel.yaml
  /api/bulk-pairing:
    $ref: ./paths/bulk-pairing.yaml

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: >-
        Personal Access Token (PAT) sent as `Authorization: Bearer hxo_...`.
        Long-lived, revocable, scoped: play requires `bot:play`, registering
        instances requires `bot:register`, organizer operations (bulk pairing)
        require `bot:organize`. Each registered instance has its own token,
        independently revocable. A token missing the scope an operation requires
        is rejected with `403`.
