openapi: 3.1.0

info:
  title: HeXO Bot API
  version: 0.4.1
  summary: The HTTP surface a bot uses to play on a HeXO server.
  description: >-
    **Status: 0.4, contract-first.** The 0.3 operations run on the reference
    server in development; the 0.4 additions are not served yet.


    A bot authenticates with a bot-account token
    (`Authorization: Bearer hxo_...`), holds one NDJSON stream open, and answers
    each `moveRequest` line by POSTing a move. The server is the referee: it
    owns pairing, clocks, ratings, and the game lifecycle.


    The play layer is HeXO's. The engine exchange (`Coord`, `Board`,
    `PositionEvaluation`, `Move`, `MoveRequest`, `MoveResponse`) is the htttx
    stateless `v1-alpha` schema set,
    vendored verbatim from
    [htttx-bot-api](https://github.com/hex-tic-tac-toe/htttx-bot-api) at commit
    `37d2385`. Those schemas use axial `q,r`; converting to HeXO's own axial
    `x,y` (`x = q + r`, `y = -r`) is the server's job, so a bot only sees `q,r`.
  license:
    name: MIT
    identifier: MIT
  contact:
    name: HeXO
    url: https://hexo.did.science

servers:
  - url: https://hexo.did.science
    description: Reference deployment. The bot endpoints are not served yet.

security:
  - bearerAuth: []

tags:
  - name: Account
    description: Bot identity, rating, active games, and self-declared capabilities.
  - name: Stream
    description: The single NDJSON event stream a bot holds open, and its availability.
  - name: Game
    description: Moving, resigning, and joining a session.
  - name: Challenge
    description: Creating, accepting, declining, and cancelling challenges.
  - name: Directory
    description: The public bot roster.

paths:
  /api/bot/account:
    get:
      summary: Read the calling bot's identity, rating, and active games.
      operationId: getAccount
      tags: [Account]
      responses:
        "200":
          description: The bot account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    patch:
      summary: Declare the bot's about, version, repo, and what it accepts.
      operationId: updateAccount
      tags: [Account]
      description: >-
        The declaration of the process that holds the token — only it may
        promise behaviour, which is why this lives here and not on the owner's
        website surface. Sent on connect; every field optional, each present
        field replacing the stored one (an empty string clears a text field,
        `accepts` is replaced wholesale). The declaration narrows `open=1`: a
        challenge outside `accepts` is answered `not-open`, exactly as if the
        bot were not taking challenges.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AccountDeclaration" }
      responses:
        "200":
          description: The updated account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/bot/stream:
    get:
      summary: Open the bot's event stream.
      operationId: openStream
      tags: [Stream]
      description: >-
        One JSON object per line, with a bare newline as keepalive every 10 s.
        Opening a stream closes the previous one for the same bot. On open,
        every active game is replayed as a `gameStart`, followed by a fresh
        `moveRequest` if it is the bot's turn, and every pending incoming
        challenge as a `challenge` line. The connection is also the bot's
        presence: it is online while the stream is held.


        Availability rides on the same connection. `open=1` means the bot is
        taking challenges for as long as it holds this stream; dropping the
        stream clears it, so there is no separate status call and no flag to
        leave stale.
      parameters:
        - name: open
          in: query
          required: false
          description: Present as `open=1`, the bot accepts challenges while connected.
          schema: { enum: ["1"] }
      responses:
        "200":
          description: The event stream.
          content:
            application/x-ndjson:
              schema: { $ref: "#/components/schemas/StreamEvent" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/bot/game/{gameId}:
    parameters: [{ $ref: "#/components/parameters/GameId" }]
    get:
      summary: Read a game's current board, clock, and status.
      operationId: getGame
      tags: [Game]
      description: >-
        For observers and adapters: any authenticated bot may read any game,
        not only one it plays in. The board is the htttx `Board` the players'
        own `moveRequest`s are cut from, in the engine's `q,r` coordinates.
      responses:
        "200":
          description: The game's current state.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GameSnapshot" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Unknown `gameId`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/bot/game/{gameId}/move:
    parameters: [{ $ref: "#/components/parameters/GameId" }]
    post:
      summary: Play a move in a game.
      operationId: playMove
      tags: [Game]
      description: >-
        The body is an htttx `MoveResponse`, carrying exactly two placements.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MoveResponse" }
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "400": { $ref: "#/components/responses/MoveRejected" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/bot/game/{gameId}/resign:
    parameters: [{ $ref: "#/components/parameters/GameId" }]
    post:
      summary: Resign a game.
      operationId: resignGame
      tags: [Game]
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/bot/session/{sessionId}/join:
    parameters: [{ $ref: "#/components/parameters/SessionId" }]
    post:
      summary: Join a lobby by session id.
      operationId: joinSession
      tags: [Game]
      description: >-
        The entry a human takes with a `?join=` link. The bot learns that the
        game started from a `gameStart` line on its stream.
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/bot/challenge/{profileId}:
    parameters: [{ $ref: "#/components/parameters/ProfileId" }]
    post:
      summary: Challenge another account.
      operationId: createChallenge
      tags: [Challenge]
      description: >-
        v1: challenges are bot to bot. The target must be a bot account; a
        human `profileId` is rejected with `not-a-bot`. Only a target that is
        connected with `open=1` and under its concurrent-game limit can be
        challenged (`not-open` otherwise) — and only inside what it declared
        itself willing to play (`accepts`, see `updateAccount`). A
        server-driven target, one the server moves for, holds no stream: it
        accepts while it has spare capacity, playing at the requested
        `thinkMs`, and answers `not-open` otherwise. The target learns of the
        challenge from a `challenge` line on its stream, replayed if it
        reconnects before the challenge expires.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [timeControl]
              properties:
                timeControl: { $ref: "#/components/schemas/TimeControl" }
                firstPlayer:
                  type: string
                  description: >-
                    Which side moves first: the challenger is the side that
                    created the challenge, the challenged side is the target.
                  enum: [challenger, challenged, random]
                  default: random
                thinkMs:
                  type: integer
                  minimum: 1
                  description: >-
                    Required when the target is a server-driven bot: how long
                    it may think per move, in milliseconds, within the range
                    the server allows. Ignored for every other target.
                opening: { $ref: "#/components/schemas/Opening" }
      responses:
        "200":
          description: The created challenge.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Challenge" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/bot/challenge/{challengeId}/accept:
    parameters: [{ $ref: "#/components/parameters/ChallengeId" }]
    post:
      summary: Accept a challenge.
      operationId: acceptChallenge
      tags: [Challenge]
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/bot/challenge/{challengeId}/decline:
    parameters: [{ $ref: "#/components/parameters/ChallengeId" }]
    post:
      summary: Decline a challenge.
      operationId: declineChallenge
      tags: [Challenge]
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/bot/challenge/{challengeId}/cancel:
    parameters: [{ $ref: "#/components/parameters/ChallengeId" }]
    post:
      summary: Cancel a challenge the bot issued.
      operationId: cancelChallenge
      tags: [Challenge]
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/bot/challenges:
    get:
      summary: List the bot's pending challenges.
      operationId: listChallenges
      tags: [Challenge]
      responses:
        "200":
          description: Pending incoming and outgoing challenges.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Challenge" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/bots:
    get:
      summary: List public bot accounts.
      operationId: listBots
      tags: [Directory]
      security: []
      parameters:
        - { name: online, in: query, required: false, schema: { enum: ["1"] } }
      responses:
        "200":
          description: The bot roster; `online=1` narrows it to connected bots.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/BotListing" }
        "400": { $ref: "#/components/responses/BadRequest" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: >-
        A bot-account token, `Authorization: Bearer hxo_...`. Issued and rotated
        by the bot's owner on the website; there is no token endpoint here.

  parameters:
    GameId:
      name: gameId
      in: path
      required: true
      description: The game, as carried on `gameStart` and `moveRequest`.
      schema: { type: string }
    SessionId:
      name: sessionId
      in: path
      required: true
      description: >-
        Opaque lobby id, taken from a `?join=` link a human shared. It is never
        carried on the stream; a bot only ever learns a `gameId` from the server.
      schema: { type: string }
    ChallengeId:
      name: challengeId
      in: path
      required: true
      schema: { type: string }
    ProfileId:
      name: profileId
      in: path
      required: true
      description: Profile id of the account being challenged.
      schema: { type: string }

  responses:
    Ok:
      description: Accepted.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Ok" }
    BadRequest:
      description: The request was rejected.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: The path names an account or challenge that does not exist, or one
        that exists but is not the caller's to act on — the two are
        indistinguishable on purpose.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    MoveRejected:
      description: >-
        The move was rejected. The clock keeps running and the bot may send
        another move for the same turn.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthorized:
      description: Missing, unknown, or rotated token.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Ok:
      type: object
      required: [ok]
      properties:
        ok: { type: boolean, const: true }

    Error:
      type: object
      description: Every non-2xx response body.
      required: [error]
      properties:
        error: { type: string, description: Human-readable message; do not parse it. }
        code:
          type: string
          description: >-
            Stable machine-readable code, present where the caller can act on
            it. Move rejections use `not-your-turn`, `occupied`,
            `out-of-range`, `game-over`, or `stale-request`. Challenge
            creation uses `not-a-bot` (the target is a human account) or
            `not-open` (the target is not taking challenges right now: not
            open, out of capacity, or outside what it declared it accepts).

    Side:
      type: string
      description: Play order. `x` places first, `o` second.
      enum: [x, o]

    FinishReason:
      type: string
      description: >-
        How a game ended. Bot games are draw-free, so a server never finishes
        one by draw agreement.
      enum: [aborted, disconnect, surrender, timeout, terminated, six-in-a-row]

    TimeControl:
      description: >-
        A union over `mode`. Durations are in milliseconds. A turn must be worth
        at least 5 s and a match clock at least 60 s: the reference server's
        lobby routes have always floored there, and a bot written to this
        contract can rely on it.
      oneOf:
        - type: object
          required: [mode]
          properties: { mode: { const: unlimited } }
        - type: object
          required: [mode, turnTimeMs]
          properties:
            mode: { const: turn }
            turnTimeMs: { type: integer, minimum: 5000 }
        - type: object
          required: [mode, mainTimeMs, incrementMs]
          properties:
            mode: { const: match }
            mainTimeMs: { type: integer, minimum: 60000 }
            incrementMs: { type: integer, minimum: 0 }

    Player:
      type: object
      description: An account in a game or challenge.
      required: [profileId, displayName, elo]
      properties:
        profileId:
          type: [string, "null"]
          description: Null for a guest, who plays without an account.
        displayName: { type: string }
        elo:
          type: [integer, "null"]
          description: Null for a guest, who has no rating to carry.

    Accepts:
      type: object
      description: >-
        What a bot will play under, declared by the bot itself through
        `updateAccount` — its owner cannot promise behaviour for it. A
        challenge outside this is answered `not-open`, exactly as if the bot
        were not taking challenges; on `Account` and `BotListing` the field is
        absent when the bot never declared one.
      required: [turnMs, match, unlimited]
      properties:
        turnMs:
          type: ["array", "null"]
          description: >-
            The accepted turn-clock window, [min, max] in milliseconds with
            min no greater than max, or null to decline turn clocks entirely.
            A window below the 5 s floor never matches a legal clock.
          minItems: 2
          maxItems: 2
          items: { type: integer }
        match:
          type: boolean
          description: Whether match-clock games are accepted.
        unlimited:
          type: boolean
          description: Whether unlimited games are accepted.

    AccountDeclaration:
      type: object
      description: >-
        The body of `updateAccount`, sent on connect by the process that holds
        the token. Every field optional; each present field replaces the
        stored one — an empty string clears `about` or `repoUrl`, `accepts`
        replaces wholesale. Nothing here is owner-settable.
      properties:
        about:
          type: string
          maxLength: 280
          description: Free text shown on the bot's profile.
        version:
          type: string
          description: The bot's own version string.
        repoUrl:
          type: string
          format: uri
          description: Link to the bot's source.
        accepts: { $ref: "#/components/schemas/Accepts" }

    Account:
      type: object
      required: [bot, owner, activeGames]
      properties:
        bot: { $ref: "#/components/schemas/Player" }
        owner: { $ref: "#/components/schemas/Player" }
        activeGames:
          type: array
          items:
            type: object
            required: [gameId, side]
            properties:
              gameId: { type: string }
              side: { $ref: "#/components/schemas/Side" }
        about:
          type: string
          maxLength: 280
          description: Self-declared through `updateAccount`; absent when never declared.
        version:
          type: string
          description: Self-declared version string; absent when never declared.
        repoUrl:
          type: string
          format: uri
          description: Self-declared link to the bot's source; absent when never declared.
        accepts: { $ref: "#/components/schemas/Accepts" }

    BotListing:
      type: object
      description: One entry in the public roster.
      required: [profileId, displayName, elo, online, openForChallenges]
      properties:
        profileId: { type: string }
        displayName: { type: string }
        elo: { type: integer }
        owner: { type: string, description: Owner profile id; games involving a bot are unrated. }
        online: { type: boolean, description: True while the bot holds a stream open. }
        openForChallenges: { type: boolean }
        accepts: { $ref: "#/components/schemas/Accepts" }

    Challenge:
      type: object
      description: >-
        Every challenge involves a bot, so every challenge game is unrated;
        there is no rated field here (see `GameStartEvent.rated`).
      required: [challengeId, challenger, destUser, timeControl, status]
      properties:
        challengeId: { type: string }
        challenger: { $ref: "#/components/schemas/Player" }
        destUser: { $ref: "#/components/schemas/Player" }
        timeControl: { $ref: "#/components/schemas/TimeControl" }
        status:
          type: string
          enum: [created, declined, canceled, expired]
          description: "`created` means pending; listings only ever show pending challenges."

    Opening:
      type: object
      description: >-
        Opening variety, placed by the server so the challenged side cannot
        dodge it: after the origin stone the server lays `randomTurns` full
        turns of two alternating random legal stones within placement radius
        2, then hands the game to the players — both see the stones in every
        board. The unit is a turn, not a stone, because stones come in pairs
        after the origin: an odd stone would leave a half turn no engine can
        answer, and no valid value of this field can express one. Carried on
        `createChallenge` (optional, default none) and on `gameStart` (absent
        when there are none). A fair series — the same opening with colours
        swapped — is a tournament concern, not a challenge field.
      required: [randomTurns]
      properties:
        randomTurns:
          type: integer
          minimum: 0
          maximum: 3
          default: 0

    GameStartEvent:
      type: object
      description: A game the bot is in has started, or is replayed on reconnect.
      required: [type, gameId, side, opponent, timeControl, rated]
      properties:
        type: { const: gameStart }
        gameId: { type: string }
        side: { $ref: "#/components/schemas/Side" }
        opponent: { $ref: "#/components/schemas/Player" }
        timeControl: { $ref: "#/components/schemas/TimeControl" }
        opening: { $ref: "#/components/schemas/Opening" }
        rated: { type: boolean, description: Currently always false; games involving a bot are unrated. }

    MoveRequestEvent:
      type: object
      description: >-
        It is the bot's turn. `request.request_id` rises monotonically within a
        game. The origin stone is auto-placed for bots, so every request wants
        exactly two placements. `request.time_limit` follows the game's clock:
        `turn` — this turn's remaining budget; `match` — the bot's remaining main
        time, the increment only applied after the move is made; `unlimited` —
        the field is absent.
      required: [type, gameId, request]
      properties:
        type: { const: moveRequest }
        gameId: { type: string }
        request: { $ref: "#/components/schemas/MoveRequest" }

    GameFinishEvent:
      type: object
      required: [type, gameId, winner, reason]
      properties:
        type: { const: gameFinish }
        gameId: { type: string }
        winner:
          description: >-
            The winning side, or `null` when there is no winner: an abort, a
            termination, or a disconnect that left neither side connected.
          oneOf:
            - { $ref: "#/components/schemas/Side" }
            - { type: "null" }
        reason: { $ref: "#/components/schemas/FinishReason" }

    GameSnapshot:
      type: object
      description: >-
        A game as an observer sees it: the current position in the engine's
        own `Board` schema, the clock, and whether the game is still going.
        `winner` and `reason` are present once `status` is `finished`.
      required: [gameId, board, clock, status]
      properties:
        gameId: { type: string }
        board: { $ref: "#/components/schemas/Board" }
        clock: { $ref: "#/components/schemas/GameClock" }
        status:
          type: string
          enum: [in-progress, finished]
        winner:
          description: See `GameFinishEvent.winner` for when this is null.
          oneOf:
            - { $ref: "#/components/schemas/Side" }
            - { type: "null" }
        reason: { $ref: "#/components/schemas/FinishReason" }

    GameClock:
      description: >-
        The clock at the moment of the read, mirroring `TimeControl`'s modes.
        Durations are in milliseconds. `turn` carries the remaining budget of
        the current turn, the side to move's; `match` carries each side's
        remaining main time, increments for moves already made included;
        `unlimited` carries nothing.
      oneOf:
        - type: object
          required: [mode]
          properties: { mode: { const: unlimited } }
        - type: object
          required: [mode, remainingTurnMs]
          properties:
            mode: { const: turn }
            remainingTurnMs: { type: integer }
        - type: object
          required: [mode, remainingMainMs]
          properties:
            mode: { const: match }
            remainingMainMs:
              type: object
              required: [x, o]
              properties:
                x: { type: integer, description: Side `x`'s remaining main time. }
                o: { type: integer, description: Side `o`'s remaining main time. }

    ChallengeEvent:
      type: object
      description: >-
        A challenge involving the bot appeared, was cancelled, or was declined.
        Expiry reaches both sides; a withdrawal reaches the target; a decline
        reaches the challenger.
      required: [type, challenge]
      properties:
        type: { type: string, enum: [challenge, challengeCanceled, challengeDeclined] }
        reason:
          type: string
          enum: [canceled, expired]
          description: "Present on `challengeCanceled`: withdrawn by the challenger, or expired."
        challenge: { $ref: "#/components/schemas/Challenge" }

    StreamEvent:
      description: One line of `GET /api/bot/stream`, discriminated by `type`.
      oneOf:
        - { $ref: "#/components/schemas/GameStartEvent" }
        - { $ref: "#/components/schemas/MoveRequestEvent" }
        - { $ref: "#/components/schemas/GameFinishEvent" }
        - { $ref: "#/components/schemas/ChallengeEvent" }

    # --- BEGIN vendored htttx ---
    # Verbatim from htttx-bot-api@37d2385
    # (definitions/stateless/stateless-v1-alpha.yaml). Do not edit by hand;
    # scripts/check-htttx.sh diffs this block against upstream.
    Coord:
      description: Axial hex-coordinate. +q goes right, +r goes top-right.
      type: object
      properties:
        q:
          type: integer
        r:
          type: integer
      required:
        - q
        - r

    Board:
      description: Current board state.
      type: object
      properties:
        to_move:
          type: string
          enum: ["x", "o"]
        cells:
          type: array
          items:
            type: object
            properties:
              q:
                type: integer
              r:
                type: integer
              p:
                description: Piece on the coordinate
                type: string
                enum: ["x", "o"]
            required:
              - q
              - r
              - p
      required:
        - to_move
        - cells

    PositionEvaluation:
      description: Optional evaluation of the position by the bot. Can include any additional fields not defined by this API.
      type: object
      properties:
        heuristic:
          description: |
            Heuristical evaluation of the position. Can be any real number.
            Positive numbers show advantage for crosses. Negative show advantage for circles.
            Default scale for this value should be between -1 and 1, that's what the client UI will assume as the range
            of the values, but the bot is not required to clamp them, and the client must support bots which return
            arbitrarily small or large values.
          type: number
        win_in:
          description: |
            Should be used when the bot found (or assumes there to be) a win for one of the sides in N turns.
            If the win is found for crosses, N should be positive. If it is found for circles, N should be negated.
            A turn is two placements. For example position oooo.oooo, cross to move,
            would have a "win_in" value of -2. Turn 1 would be cross's turn, and turn 2 is the winning turn of circles.
          type: integer

    Move:
      description: |
        A single move of two placements.

        The move must be legal; the platform detects an illegal move from the response
        against the board and the turn. A move is illegal if it has:
          - the wrong number of placements for the turn;
          - a placement on an occupied cell;
          - a placement out of range (after the origin, beyond the placement radius of
            every placed cell);
          - a first placement not at the origin (0, 0);
          - a placement for the wrong side or out of turn;
          - a placement after the game is won.

        On an illegal move a server MAY reject it and SHOULD NOT apply it. This API does
        not define any further consequence (result, winner, finishReason); that is
        owned by the play layer.
      type: object
      properties:
        pieces:
          type: array
          items:
            $ref: "#/components/schemas/Coord"
          minItems: 2
          maxItems: 2
        evaluation:
          $ref: "#/components/schemas/PositionEvaluation"
      required:
        - pieces
      examples:
        - pieces:
            - q: 1
              r: 0
            - q: -1
              r: 1

    MoveRequest:
      description: A request for the bot to evaluate the position and make a move.
      type: object
      properties:
        board:
          $ref: "#/components/schemas/Board"
        time_limit:
          description: |
            Seconds given to the bot to make a move, if the bot respects the limit,
            then the "stateless.v1-alpha.move_time_limit" property of the bot's capabilities.json should be set to true.

            Even if the bot supports this capability, the client is not required to provide this field. 
            In this case, it is assumed that the thinking time is unlimited.
          type: number
          minimum: 0
        request_id:
          description: |
            Optional identifier of this request, echoed unchanged on the response. The
            http request/response pair already correlates the answer and each request
            carries the full board, so request_id is not required. If the bot sets
            "stateless.v1-alpha.request_id" it echoes this value when supplied, so the
            client can double-check the pairing.
          type: integer
          minimum: 0
      required:
        - board
      examples:
        - board:
            to_move: "o"
            cells:
              - q: 0
                r: 0
                p: "x"
          time_limit: 5
          request_id: 1
    
    MoveResponse:
      description: Moves made
      type: object
      properties:
        move:
          description: Top move chosen by the bot.
          $ref: "#/components/schemas/Move"
        considerations:
          description: Optional, additional moves the bot has considered, ordered by best to worst.
          type: array
          items:
            $ref: "#/components/schemas/Move"
        request_id:
          description: |
            The request_id of the move request, echoed unchanged when the request
            carried one (see "stateless.v1-alpha.request_id").
          type: integer
          minimum: 0
      required:
        - move
      examples:
        - move:
            pieces:
              - q: 1
                r: 0
              - q: -1
                r: 1
          request_id: 1
    # --- END vendored htttx ---
